@import url("https://fonts.googleapis.com/css?family=Averia Sans Libre");
* {
  margin: 0px;
  padding: 0px;
  
}
:root{
  --background-color-1: #333433;
  --background-color-2: #4d4e4e;
  --text-color-1: #0cf37a;
  --text-color-2: #f9a01f;
}
body {
  padding: 10px;
  background-color: var(--background-color-1);
  color: var(--text-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Averia Sans Libre';
}
textarea{
  background-color: var(--background-color-2);
  color: var(--text-color-1);
  border-radius: 5px;
}
#boardDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
a {
  color: var(--text-color-2);
}
.report{
  border: 0px;
  background: rgba(0, 0, 0, 0);
  color: var(--text-color-2);
  height: 25px;
  font-size: 20px;
  vertical-align: text-bottom;
}
.delete{
  border: 0px;
  background: rgba(0, 0, 0, 0);
}
.submit{
  border: 0px;
  background: rgba(0, 0, 0, 0);
  color: var(--text-color-2);
  height: 25px;
  font-size: 20px;
  /*vertical-align: text-bottom;*/
}
.fa{ 
  font-size: 25px;
  color: var(--text-color-2);
}
.fa .fa-trash{
  
}
.replies {
  margin-left: 50px;
}

.reply {
  border: 10px dotted white;
  margin: 5px;
  padding: 5px;
  background-color: var(--background-color-1);
  color: var(--text-color-2);
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  
  /*border: 2px solid black;*/
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: var(--background-color-2);
  width: 100%;
}
.thread p, h3  {
  margin-left: 20px;
  font-weight: lighter;
  padding: 5px;
}
form button {
  display: flex;
  padding: 3px;
}
 form button:hover >.text-password{
  background-color: var(--background-color-1);
   
}
 form button:hover{
  background-color: var(--background-color-1);
   
}
.newReply textarea {
  width: 70%;
  background-color: var(--background-color-1);
}
.id {
  font-size: 12px;
}
#reportThread{
  font-size: 20px;
  text-align: bottom;
}
.reportDiv{
  display: flex;
  justify-content: flex-end;  
}
.submitDiv{
  display: flex;
  justify-content: flex-start;  
  width: 70%;
}
#submitNewThread {
  margin: 50px;
}
.report-button{
  border-radius: 3px;
    
}
.submit-button{
  border-radius: 3px;
    
}
.delete-button{
  border-radius: 10px ;
  height: 30px;
  width: 180px;
  align-items: text-bottom;
}
.text-password {
  background-color: var(--background-color-2);
  color: var(--text-color-2);
  /*border-radius: 5px 0px 0px 5px;*/
  margin-top: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid var(--background-color-1);
  height: 27px;
  width: 85%;
}
::placeholder {
   color: var(--text-color-2);
}
button {
  font-size: 20px;
  border: 0px solid white;
  align: baseline;
  background-color: rgba(0, 0, 0, 0);

}
i {
  
  padding: 2px;
}