* {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans Unicode";
}
:root{
  --background-color-1: #f8dc9a;
  --background-color-2: #efae13;
  
}
body {
  padding: 10px;
  background-color: var(--background-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.report{
  border: 0px;
  background: rgba(0, 0, 0, 0);
}
.delete{
  border: 0px;
  background: rgba(0, 0, 0, 0);
}
.fa-flag{
 color: red; 
  
}
.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
  background-color: var(--background-color-1);
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: var(--background-color-2);;
}

.id {
  font-size: 8px;
}
#reportThread{
  font-size: 20px;
}
.reportDiv{
  display: flex;
  justify-content: flex-end;  
}
#submitNewThread {
  margin: 50px;
}
button {
  font-size: 20px;
  border: 0px;
  align: baseline;
  background-color: rgba(0, 0, 0, 0);
}
i {
  vertical-align: baseline;
}