@import url("https://fonts.googleapis.com/css?family=Averia Sans Libre");
* {
  margin: 0px;
  padding: 0px;
  
}
:root{
  --background-color-1: #333433;
  --background-color-2: #4d4e4e;
  --text-color-1: #0cf37a;
  --text-color-2: #f9a01f;
}
body {
  padding: 10px;
  background-color: var(--background-color-1);
  color: var(--text-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Averia Sans Libre';
}
#boardDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: yellow;
}
.report{
  border: 0px;
  background: rgba(0, 0, 0, 0);
}
.delete{
  border: 0px;
  background: rgba(0, 0, 0, 0);
}
.fa-flag{
 color: red; 
  
}
.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
  background-color: var(--background-color-1);
  color: var(--text-color-2);
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  
  border: 2px solid black;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: var(--background-color-2);
  width: 100%;
}
.thread p, h3  {
  margin-left: 20px;
  font-weight: lighter;
  padding: 5px;
}
.reply p {
  
}
.id {
  font-size: 12px;
}
#reportThread{
  font-size: 20px;
}
.reportDiv{
  display: flex;
  justify-content: flex-end;  
}
#submitNewThread {
  margin: 50px;
}
button {
  font-size: 20px;
  border: 0px;
  align: baseline;
  background-color: rgba(0, 0, 0, 0);
}
i {
  vertical-align: baseline;
}